*{
	margin: 0;
	padding: 0;
}

body{
	background: black;
	
}

#centro{
		
	width: 800px;
	margin: 10px auto;
	text-align: center;
	padding: 10px;
	  padding-top: 400px;
	float: center;

	}

.segredo{
	
}

h2, h3:hover{
	color: white;
}


